<div class="column is-12 px-0">
  <div class="card events-card ">
    <header class="card-header has-background-info mb-2">
      <p class="card-header-title is-uppercase has-text-white is-size-5 py-1">
        ADD Reading
      </p>
    </header>
    <section class="columns is-centered">
      <div class="column is-12 pb-0">
        <form name="addReading" action="/station/{{station._id}}/addreading" onsubmit="return validateReadingForm()"
              method="POST">
          <div class="field is-horizontal mx-4 my-0">
            <div class="field-body is-centered">
              <div class="field">
                <label class="label mb-0">Code</label>
                <div class="control">
                  <div id="selectCode" class="select is-fullwidth">
                    {{> selectcode id="addCode"}}
                  </div>
                  <div id="errCode" class="showError has-background-danger has-text-centered has-text-white mt-1"></div>
                </div>
              </div>
              <div class="field">
                <label class="label mb-0">Temperature</label>
                <div class="control">
                  <input id="newTemperature" type="number" step="any" class="input" placeholder="000.00&#176C" name="temperature">
                  <div id="errTemperature" class="showError has-background-danger has-text-centered has-text-white mt-1"></div>
                </div>
              </div>
              <div class="field">
                <label class="label mb-0">Wind Speed</label>
                <div class="control">
                  <input id="newWindSpeed" type="number" step="any" class="input" placeholder="000.00 km/hr" name="windSpeed" min="0" max="117">
                  <div id="errWindSpeed" class="showError has-background-danger has-text-centered has-text-white mt-1"></div>
                </div>
              </div>
              <div class="field">
                <label class="label mb-0">Wind Direction</label>
                <div class="control">
                  <input id="newWindDirection" type="number" step="any" class="input" placeholder="000.00&#176" name="windDirection" min="0" max="360">
                  <div id="errWindDirection" class="showError has-background-danger has-text-centered has-text-white mt-1"></div>
                </div>
              </div>
              <div class="field">
                <label class="label mb-0">Pressure</label>
                <div class="control">
                  <input id="newPressure" type="number" class="input" placeholder="0000 hPa" name="pressure" min="0">
                  <div id="errPressure" class="showError has-background-danger has-text-centered has-text-white mt-1"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12 py-2">
            <div class="field">
              <div class="control">
                <button class="button is-fullwidth is-info has-text-weight-bold">Add Reading</button>
              </div>
            </div>
          </div>
        </form>
         {{> generate-reading}}
      </div>
    </section>
  </div>
</div>
