<div class="container p-2">
  <div class="columns is-12">
    <div class="column is-8"><!-- Blank --></div>
    <div id="stationInputs" class="column is-3 mt-6 " style="z-index: 99999;">
      <section class="columns is-centered">
        <div class="container column is-12 has-background-white addStationBorderColor" style="opacity: 0.95; ">
          <form name="addStation" action="/dashboard/addstation" onsubmit="return validateStationForm()" method="POST">
            <div class="container mx-4 my-0">
              <div class="field">
                <label class="label mb-0">STATION NAME</label>
                <div class="control">
                  <input id="newName" type="text" class="input" placeholder="Enter Station Name..." name="name" />
                  <div id="errName" class="showError has-background-danger has-text-centered has-text-white mt-1"></div>
                </div>
              </div>
              <div class="field">
                <label class="label mb-0">LATITUDE</label>
                <div class="control">
                  <input
                    id="newLatitude"
                    class="input"
                    placeholder="000.000&#176"
                    name="latitude"
                    min="0"
                    type="text"
                  />
                  <div
                    id="errLatitude"
                    class="showError has-background-danger has-text-centered has-text-white mt-1"
                  ></div>
                </div>
              </div>
              <div class="field">
                <label class="label mb-0">LONGITUDE</label>
                <div class="control">
                  <input id="newLongitude" class="input" placeholder="000.000&#176" name="longitude" type="text" />
                  <div
                    id="errLongitude"
                    class="showError has-background-danger has-text-centered has-text-white mt-1"
                  ></div>
                </div>
              </div>            
              <div class="field has-text-centered">  
                <span class="control">
                  <label class="is-checkbox is-static">
                    <input id="mycheckbox" checked="checked" type="hidden" value="0" name="generateReading">
                    <input id="mycheckbox" checked="checked" type="checkbox" name="generateReading">
                    <span  class="icon checkmark">
                      <i class="fa fa-check"></i>
                    </span>
                    <span>Generate Weather Reading</span>
                  </label>
                </span>  
              </div>
            </div>
            <div class="column is-12 py-2">
              <div class="field">
                <div class="control">
                  <button class="button is-fullwidth is-info is-uppercase has-text-weight-bold">Add Station</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
      <!-- Station -->
    </div>
    <div class="column is-1"><!-- Blank --></div>
  </div>
</div>