<div class="container mx-3 mt-0 mb-3">
  <form action="/station/{{station._id}}/generate-reading" method="post">
    <button class="button is-fullwidth is-danger">Generate Reading</button>
  </form>
</div>