<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{name}}</title>
    <!-- FAVICON --->
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <!-- Bulma Version 0.9.4-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">

    <script src="https://kit.fontawesome.com/dd084b05a9.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

    <!-- Frappe Charts-->
    <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
    <!-- Leaflet MAP-->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
<!-- Start -->
<section class="is-fullheight is-flex is-flex-direction-column">
    <!-- Content Start -->
    {{{body}}}
    <!-- Content End -->
    <!-- Footer -->
    <div class="container is-fluid p-0">
        <footer class="footer has-background-white pt-0 pb-6">
            <div class="container">
                <div class="columns">
                    <div class="column is-4"></div>
                    <div class="column is-4 has-text-centered is-hidden-mobile">
                        <large>
                            <span class="has-text-grey">Copyright 2023 &copy;</span><span
                                class="has-text-grey has-text-weight-bold is-uppercase">Weather</span><span
                                class="has-text-warning is-uppercase">Top</span> <span class="has-text-grey">Inc.</span>
                        </large>
                    </div>
                    <div class="column is-4"></div>
                </div>
            </div>
        </footer>
</section>
<!-- End -->
<!-- Custom JS Scripts -->
<script async type="text/javascript" src="../js/main.js"></script>
</body>
</html>