{{> menu active="404"}}

<!-- Content Start -->
<section class="section pt-5 pb-3">
    <div class="container">
        <!-- Hero Welcome USer -->
        <section class="hero is-info welcome is-small">
            <div class="columns is-vcentered">
                <div class="column">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title is-uppercase  is-size-3">
                                <span class="has-text-white has-text-weight-bold">Weather</span><span
                                    class="has-text-warning">Top</span>
                                <span class="has-text-white has-text-weight-bold">- It Look's like you're lost</span>
                            </h1>
                            <h2 class="subtitle">
                                The page you are looking for not avaible!
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="column is-12 mt-3 mb-5 p-0">
            <div class="card events-card ">
                <header class="card-header has-background-info mb-2">
                    <p class="card-header-title is-uppercase has-text-white is-size-5 py-1">
                        Not found
                    </p>
                </header>
                <section class="columns is-centered px-5">                  
               <!--     <div class="column is-12 custom_404">
                -->       
                    <div class="column is-8">
                        <section class="page_404">
                            <div class="container">
                                <div class="">
                                    <div class=" ">
                                        <div class="">
                                            <div class="four_zero_four_bg">
                                                <div class=" is-centered is-size-1 has-text-weight-bold has-text-centered">
                                                    404
                                                </div>
                                                <div class="buttons are-large is-centered button_404">
                                                    <button class="button is-warning link_404" onclick="history.back()">Go Back</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>                  
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>




















