{{> membersmenu active="dashboard"}}
<!-- Content Start -->
<section class="section pt-5 pb-3">
    <div class="container">
        {{> hero heroName="Dashboard" }}      
        <!-- Stations -->                 
        <!-- Stations MAP -->         
        {{> map}} 
        <!-- Stations MAP End --> 
        <!-- List Stations -->
        {{> list-stations}}     `
        <!-- List Stations End -->   
        <!-- Stations End -->
    </div>
</section>
{{> delete-station-modal}}
<!-- Content End -->
