{{> menu active="login"}}

<!-- Login Start -->
<!-- Content Start -->
<section class="section pt-5 pb-3">
    <div class="container">
        <!-- Hero Welcome User -->
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-size-3">
                        <span class="has-text-white has-text-weight-bold is-uppercase">Weather</span><span
                            class="has-text-warning is-uppercase">Top</span>
                        <span class="has-text-white has-text-weight-bold is-uppercase">APP Login</span>
                    </h1>
                </div>
            </div>
        </section>
        <!-- Hero Welcome User End-->
        <!-- Login Start -->
        <div class="container mt-4" style="max-width:800px;">
            <div class="box">
                <div class="columns">
                    <div class="column is-two-fifths has-background-info has-text-white has-text-centered py-6">
                        <div class="title is-size-2 has-text-white mb-0"><span
                                class="has-text-white has-text-weight-bold is-uppercase">Weather</span><span
                                class="has-text-warning is-uppercase">Top</span></div>
                        <div class="title is-size-3 has-text-white has-text-weight-bold is-uppercase pt-0">
                            Account Login
                        </div>
                        <div class="my-4 has-text-weight-bold">
                            <p>Don't have an account?</p>
                            <a href="/signup" class="is-link has-text-link-light	">
                                <p><u>Get Started!</u></p>
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <!-- Login Notification -->
                        {{#if loginFail}}
                        {{> loginfail}}
                        {{/if}}
                        <!-- Login Notification End -->
                        <form class="p-2" action="/authenticate" method="POST">
                            <div class="field">
                                <label class="label">Email Address</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Email" name="email">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control">
                                    <input class="input" type="password" placeholder="Password" name="password">
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control is-expanded">
                                    <button class="button is-info is-fullwidth">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login End -->
    </div>
</section>
<!-- Content End -->
<!-- Login End -->