{{> membersmenu active="dashboard"}}

<!-- Content Start -->
<section class="section pt-5 pb-3">
    <div class="container">
        <!-- Hero Welcome USer -->
        <section class="hero is-info welcome is-small">
            <div class="columns is-vcentered">
                <div class="column is-8">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title is-uppercase  is-size-3">
                                <span class="has-text-white has-text-weight-bold">Weather</span><span
                                    class="has-text-warning">Top</span>
                                <span class="has-text-white has-text-weight-bold">{{station.name}} Station</span>
                            </h1>
                            <h2 class="subtitle">
                                Below is a list of all your stats and readings
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="column">
                   <!--
                    <div class="container is-pulled-right buttons mr-5">
                        <a href="/stationsummary" class="button is-light">
                            Current Weather All Station's
                        </a>
                    </div>
                    -->
                </div>                
            </div>
        </section>
        <!-- Hero Welcome User End-->
        <!-- Station -->
        {{> addreading}}
       
        {{#if (gte readingsRecorded 1)}}
        <div class="container is-12 mt-3 p-0">
            <div class="card events-card ">
                <header class="card-header has-background-info mb-2">
                    <p class="card-header-title is-uppercase has-text-white is-size-4 py-2">
                        <!--{{station.name}}-->
                    <div class="empty-div"></div>
                    </p>
                </header>
                    {{> latestreadings}}
                        <div class="columns is-centered px-5">
                            <div class="column is-centered mt-0">
                                <div class="table-container">
                                    {{> listreadings}}
                                </div>
                            </div>
                        </div>
                          <footer class="card-footer has-background-grey mt-4">
                    <div class="empty-div is-size-4 py-2"></div>
                </footer>
            </div>
        </div>           
        {{/if}}	
              
        <!-- Station End -->
    </div>
</section>
